body {
    background-color: rgb(208, 193, 175);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
     position: sticky;
    top: 0;
     background-color: rgb(208, 193, 175);


}

.header1 {
    margin-right: 3cm;
}

.wp-block-heading{
    font-size: 70px;
    margin-bottom: 15px;
    text-align: center;
    padding: 100px 20px;
}



@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#clock {
    flex: 1;
    text-align: center;
    margin-left: 4cm;
    font-size: 24px;
    font-weight: bold;
}

.wp-block-heading {
    font-size: 70px;
    margin-bottom: 15px;

}

.wp-element-button{
     background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.3s;

}

.wp-element-button:Hover{
transform: scale(1.05);
}

.wp-block-button__link {
    display: flex;
    justify-content: center;
    gap: 20px;
}

