body {
    background-color: rgb(208, 193, 175);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;

    position: sticky;
    top: 0;

    background-color: rgb(208, 193, 175);


}

.header1 {
    margin-right: 3cm;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;

    position: sticky;
    top: 0;

    background-color: rgb(208, 193, 175);

}

.wp-block-heading{
    font-size: 70px;
    margin-bottom: 15px;
    text-align: center;
    padding: 100px 20px;
}



@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#clock {
    flex: 1;
    text-align: center;
    margin-left: 4cm;
    font-size: 24px;
    font-weight: bold;
}

.wp-block-heading {
    font-size: 40px;
    margin-bottom: 15px;

}

.wp-element-button{
     background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.3s;

}

.wp-element-button:Hover{
transform: scale(1.05);
}

.wp-block-button__link {
    display: flex;}
.wp-block-button__link wp-element-button {
    display: inline !important;
    justify-content: center;
    gap: 20px;
}

.wp-block-heading has-text-align-center{
    font-size: 20px;
    margin-bottom: 15px;
}
.wp-block-columns is-layout-flex wp-container-core-columns-is-layout-8f761849 wp-block-columns-is-layout-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 60px 20px;

        background-color: #cba3a3;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.374); 
    color: white;

     width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s ease;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 60px 20px;
    
}

.card:hover {
    background-color: #cba3a3;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.374); 
    color: white;
}

.card {
    width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s ease;
}

.card h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.card p {
    font-size: 18px;
}
